<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=additions">
         <command
               commandId="org.eclipse.emf.emfstore.modelgenerator.generateModel"
               label="Generate Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="?">
                  </count>
                  <iterate
                        ifEmpty="true">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.emfstore.modelgenerator.generateChanges"
               label="Generate Changes"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.emfstore.modelgenerator.handler.GenerateModelHandler"
            id="org.eclipse.emf.emfstore.modelgenerator.generateModel"
            name="Generate Model">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.modelgenerator.handler.GenerateChangesHandler"
            id="org.eclipse.emf.emfstore.modelgenerator.generateChanges"
            name="Generate Changes">
      </command>
   </extension>

</plugin>
